In [ ]:
import kagglehub
import pandas as pd

# Download latest version
path = kagglehub.dataset_download("arezalo/bank-personal-loan")

print("Path to dataset files:", path)

Path to dataset files: /kaggle/input/bank-personal-loan

In [ ]:
# Load data
%ls {path}
df = pd.read_csv(f"{path}/bank_loan.csv")

bank_loan.csv

In [ ]:
#inspect data
df.head()
df.info()
df.describe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  5000 non-null   int64
 1   Age                 5000 non-null   int64
 2   Experience          5000 non-null   int64
 3   Income              5000 non-null   int64
 4   ZIP Code            5000 non-null   int64
 5   Family              5000 non-null   int64
 6   CCAvg               5000 non-null   object
 7   Education           5000 non-null   int64
 8   Mortgage            5000 non-null   int64
 9   Personal Loan       5000 non-null   int64
 10  Securities Account  5000 non-null   int64
 11  CD Account          5000 non-null   int64
 12  Online              5000 non-null   int64
 13  CreditCard          5000 non-null   int64
dtypes: int64(13), object(1)
memory usage: 547.0+ KB

<bound method NDFrame.describe of         ID  Age  Experience  Income  ZIP Code  Family CCAvg  Education  \
0        1   25           1      49     91108       4  1/60          1
1        2   45          19      34     90089       3  1/50          1
2        3   39          15      11     94720       1  1/00          1
3        4   35           9     100     94112       1  2/70          2
4        5   35           8      45     91330       4  1/00          2
...    ...  ...         ...     ...       ...     ...   ...        ...
4995  4996   29           3      40     92697       1  1/90          3
4996  4997   30           4      15     92037       4  0/40          1
4997  4998   63          39      24     93023       2  0/30          3
4998  4999   65          40      49     90034       3  0/50          2
4999  5000   28           4      83     92612       3  0/80          1

      Mortgage  Personal Loan  Securities Account  CD Account  Online  \
0            0              0                   1           0       0
1            0              0                   1           0       0
2            0              0                   0           0       0
3            0              0                   0           0       0
4            0              0                   0           0       0
...        ...            ...                 ...         ...     ...
4995         0              0                   0           0       1
4996        85              0                   0           0       1
4997         0              0                   0           0       0
4998         0              0                   0           0       1
4999         0              0                   0           0       1

      CreditCard
0              0
1              0
2              0
3              0
4              1
...          ...
4995           0
4996           0
4997           0
4998           0
4999           1

[5000 rows x 14 columns]>

In [ ]:
# Detect missing values
print(df.isnull())

#Clean code
df_clean = df.dropna().drop_duplicates()

         ID    Age  Experience  Income  ZIP Code  Family  CCAvg  Education  \
0     False  False       False   False     False   False  False      False
1     False  False       False   False     False   False  False      False
2     False  False       False   False     False   False  False      False
3     False  False       False   False     False   False  False      False
4     False  False       False   False     False   False  False      False
...     ...    ...         ...     ...       ...     ...    ...        ...
4995  False  False       False   False     False   False  False      False
4996  False  False       False   False     False   False  False      False
4997  False  False       False   False     False   False  False      False
4998  False  False       False   False     False   False  False      False
4999  False  False       False   False     False   False  False      False

      Mortgage  Personal Loan  Securities Account  CD Account  Online  \
0        False          False               False       False   False
1        False          False               False       False   False
2        False          False               False       False   False
3        False          False               False       False   False
4        False          False               False       False   False
...        ...            ...                 ...         ...     ...
4995     False          False               False       False   False
4996     False          False               False       False   False
4997     False          False               False       False   False
4998     False          False               False       False   False
4999     False          False               False       False   False

      CreditCard
0          False
1          False
2          False
3          False
4          False
...          ...
4995       False
4996       False
4997       False
4998       False
4999       False

[5000 rows x 14 columns]